@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;600&display=swap');

::-webkit-scrollbar {
	width: 0.7rem;
	height: 0.7rem;
}

::-webkit-scrollbar-track {
	border-radius: 0;
	background-color: #2e2e2e;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-clip: content-box;
	background-color: #5e5e5e;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #080808;
	margin: auto;
	font-family: "poppins", sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}

.bgimg {
	transition: 0.5s ease-out;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	z-index: -1;
	height: 100vh;
	width: 100vw;
	top: 0;
	right: 0;
	background-image: url("https://images.unsplash.com/photo-1712111474888-29e9431241b6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.scrolled.bgimg {
	filter: blur(2rem);
}

a {
	color: inherit;
	text-decoration: none;
}

.footer {
	background-color: #1f1f1fdb;
	color: white;
	padding: 1rem;
	padding-bottom: 1rem;
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer a {
	float: right;
	opacity: 0.6;
	margin: 3px 6px;
	transition: .2s ease-out;
	cursor: pointer;
	font-size: 15px;
}

.footer a:hover {
	opacity: 1;
}

mains {
	display: block;
	margin: auto;
}

nav {
	background-color: #1f1f1fdb;
	backdrop-filter: blur(10px);
	color: white;
	padding: 1rem;
	z-index: 99;
	box-shadow: 0 1rem 1rem #0000004d;
	padding-bottom: 0.7rem;
	top: 0;
	width: calc(100% - 2rem);
	position: fixed;
}

.navcontent {
	max-width: 900px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linksnv {
	display: flex;
	align-items: center;
}

nav img {
	width: 29px;
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	display: inline-block;
}

nav a {
	float: right;
	opacity: 0.6;
	margin: 3px 6px;
	transition: .2s ease-out;
	cursor: pointer;
	font-size: 15px;
}

nav b {
	transform: translateY(-9px);
	margin-left: 3px;
	display: inline-block;
}

nav a:hover {
	text-decoration: underline;
	opacity: 1;
}

.feature {
	margin: 2rem auto;
	margin-top: 20vh;
	padding-bottom: 10vh;
	display: flex;
	max-width: 1400px;
	max-height: 30vh;
	justify-content: center;
	align-items: center;
}

.featureside {
	flex: 1;
	width: 0;
}

.feature h1 {
	font-weight: lighter;
	font-size: 4rem;
	width: 80%;
	text-align: center;
	max-width: 700px;
	margin: auto;
}

.feature img {
	width: 80%;
	display: block;
	margin: auto;
	margin-top: 92px;
	border-radius: 10px;
	max-width: 500px;
	transition: .5s cubic-bezier(0, 0, 0.18, 1.07);
	margin-bottom: 10px;
	transform: rotate3d(0.3, 0, 0.2, 10deg);
	box-shadow: 0 98px 70px -31px black;
	animation: boom 3s;
}

.feature img:hover {
	transform: scale(1.1);
}

.dark {
	background-color: #181818;
	padding: 10px;
	min-height: 50vh;
	margin-top: 3rem;
	border-radius: 1rem;
}

.darkflex1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
}

.darkflex1 h1 {

	line-height: 2.5rem;
}

.darkflex1 div {
	flex: 2;
	min-width: 290px;
	max-width: 560px;
	line-height: 29px;
}

.dark .devices {
	border-radius: 5px;
	flex: 1;
	object-fit: contain;
	height: 250px;
	object-position: top;
}

.box {
	opacity: 0;
	transition: .5s ease;
	transform: translateY(1rem);
	filter: blur(5px);
}

.triggered {
	opacity: 1;
	transform: translateY(0vw);
	filter: blur(0px);
}

@keyframes boom {
	from {
		transform: translateY(0.5rem);
		filter: blur(5px);
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.reliable {
	margin: 3rem auto;
	max-width: fit-content;

	&.horiz {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: .5em;
		border-radius: 1em;
	}
}

.ban {
	padding: 2em;
	background: #202020;
	background-image: url('https://images.unsplash.com/photo-1730632694635-562d4356fd8d?q=80&w=1867&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	margin-top: 0;
	background-position: center;
	transition: .5s;
	background-blend-mode: soft-light;
	background-size: cover;
	display: flex;
	justify-content: center;
	border-radius: 1em;
}

#ver {
	opacity: 0.5;
	display: block;
	text-align: center;
	font-size: 15px;
}

.scrollerbox {
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 10px;
	touch-action: pan-x;
	-webkit-overflow-scrolling: touch;
	user-select: none;
}

.whyboxes {
	display: flex;
	white-space: nowrap;
	width: fit-content;
	margin: auto;
}

.whyres {
	width: 300px;
	background: #0e0e0e;
	border-radius: 10px;
	white-space: break-spaces;
	cursor: e-resize;
	padding: 1rem 2rem;
	margin: 5px;
	display: flex;
	transition: .2s;
	flex-direction: column;
	align-items: flex-start;
}

.whyres:hover {
	box-shadow: 0 3px 1rem #101010;
	transform: translateY(-0.5rem);
}

.whyres:hover .material-symbols-rounded {
	transform: translateY(-0.5rem);
}

.whyres p {
	width: 100%;
	white-space-collapse: collapse;
}

.whyres b {
	font-size: 2rem;
}

.whyres .material-symbols-rounded {
	display: block;
	margin: 10px 0;
	font-size: 3rem;
	background: -webkit-linear-gradient(#fdff59, #ff9100);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 1rem;
	transition: .2s ease-out;
}

.reliable h1 {
	text-align: center;
}

.runbtn {
	display: flex;
	margin: auto;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	background: #6a81ff;
	margin-top: 1rem;
	color: #ffffff;
	border-radius: 50px;
	transition: .3s;
	border: none;
	cursor: pointer;
	font-family: inherit;
	align-items: center;
	gap: .5em;
}

.runbtn:hover {
	background-color: #92a3ff;
	box-shadow: 10px 9px 1rem #1e2f4654, -7px -5px 1rem #5bc8ff29;
	transform: scale(1.1);
}

@media only screen and (max-width:1300px) {
	.feature {
		height: fit-content;
		flex-direction: column;
		max-height: none;
	}

	.featureside {
		width: 100%;
	}

}

@media only screen and (max-width: 600px) {
	.horiz {
		flex-direction: column !important;
	}
}

.scrollerboxnav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 1rem;
}

.chevrons button {
	background: #1f1f1f;
	border: none;
	color: wheat;
	border-radius: 50%;
	display: inline-flex;
	aspect-ratio: 1 / 1;
	align-items: center;
	transition: .2s;
	justify-content: center;
}

.chevrons button:hover {
	background-color: #2f2f2f;
	transform: scale(1.1);
	box-shadow: 0 3px 10px #131313;
}

.chevrons button span {
	font-size: 2rem;
}

.item-content {
	background-color: transparent;
	border-radius: 10px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
}

button.prev,
button.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	border: none;
	border-radius: 0.5rem;
	padding: 1rem;
	cursor: pointer;
}

h2 {
	font-weight: normal;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.right a {
	margin: 0;
}

.footer .socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0.3rem;
}

.footer .centeredlogo {
	display: block;
	margin: 1rem;
	text-align: center;
	font-size: 1.5rem;
}

.footer .socials i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
	opacity: 0.5;
}

.footer .socials i:hover {
	opacity: 1;
}

.footericn {
	font-size: 2rem;
}

.links {
	display: flex;
	flex-direction: column;
}

.centered {
	justify-content: center;
	padding: 2rem 0;
}

.ytframe {
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 5px 1rem black;
	width: 100%;
	margin: 1em;
	max-width: 500px;
	object-fit: cover;
	aspect-ratio: 9/6;
}

.doit {
	background: #6a81ff;
	padding: 0.3rem 1rem;
	border-radius: 1rem;
	opacity: 1;
}

.faq {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: calc(100% - 1em);
	max-width: 700px;
	background: #232323;
	border-radius: 1em;
	border: 1px solid #414141;
	box-shadow: 0 5px 10px #0000007a;
	margin-bottom: 1em;
	margin: 2em auto;
	overflow: hidden;
	transition: height .3s ease-in-out;
}

.question:last-child {
	border: none;
}

.question {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #414141;
	transition: .3s ease-out;
	height: 65px;

	&:hover {
		height: 200px;

		&>.questions_answer {
			display: block;
			z-index: 99;
		}

		& .question_toggle {
			transform: rotate(90deg);
		}
	}
}

.question_button {
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.questions_answer {
	padding: 1em;
	border-top: 1px solid #414141;
	display: none;
	animation: appear 2s;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		height: 50px;
		width: 100%;
		position: absolute;
		bottom: 0px;
		right: 0px;
		background-image: linear-gradient(0deg, #202020, transparent);
	}
}

@keyframes appear {
	0% {
		height: 0;
	}

	100% {
		height: 200px;
	}
}

.faqtit {
	text-align: center;
	margin-top: 2em;
}

.question_toggle {
	padding: 5px;
	font-size: 1em;
	background: #353535;
	border-radius: 50%;
	display: flex;
	cursor: pointer;
	transition: .2s;
}

button.gotobtn {
	margin: auto;
	display: flex;
	padding: .6em 1em;
	font-size: 1em;
	border-radius: .7em;
	background-color: #6a81ff;
	border: 1px solid #aab7ff;
	color: #ffffff;
	box-shadow: 0 3px 1em black;
	cursor: pointer;

	&:hover {
		background-color: #92a3ff;
	}
}

.madeforu {
	color: #4e8bff;
}

body.light {
	background-color: white;
	color: black;

	.bgimg {
		background-image: url("https://images.unsplash.com/photo-1675935577183-f5898603c4c9?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	}


	.madeforu {
		color: #1d3e7c;
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.349);
	}

	.dark {
		background-color: #ededed;
	}

	.ban {
		color: white;
	}

	.whyres {
		background: #ffffff;
		box-shadow: 0 5px 10px #0000003d;
	}

	.chevrons button {
		background: white;
		color: black;
	}

	.faq {
		background: #ffffff;
		border: 1px solid #41414159;
	}

	.questions_answer::after {
		background-image: linear-gradient(0deg, #ffffff, transparent);
	}

	.question_toggle {
		background-color: #dedede;
	}

	nav {
		background: #ffffff96;
		box-shadow: 0 0 10px #00000075;
		color: black;
	}

	.footer {
		background-color: #ffffff;
		color: #000000;
	}
}